<!doctype html>
<html>
    {{> html/head}}

    <body>
        {{> blog/blog-title}}

        {{> elements/menu}}

        <section class="section">
            <div class="container-fluid">
                <div class="columns">
                    <div class="column">
                        {{> dashboard/menu}}
                    </div>
                    <div class="column is-four-fifths">
                        <div class="box">
                            <h1 class="title">Pages</h1>
                                {{#each pages}}
                                <a class="panel-block" href="/dashboard/pages/edit/{{this._id}}">
                                    <span class="panel-icon">
                                        <i class="fab fa-html5"></i>
                                    </span>
                                    /p/{{this.link}}
                                </a>
                                {{/each}}
                            </nav>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> elements/footer}}
        
    </body>
</html>