<aside class="menu">
    <p class="menu-label">
        Site ;)
    </p>
    <ul class="menu-list">
        <li><a href="/dashboard">Settings</a></li>
        <li><a href="/dashboard/menu">Menu</a></li>
        <li><a href="/dashboard/style">Style</a></li>
        <li><a href="/dashboard/views">View</a></li>
    </ul>
    <p class="menu-label">
        Blog
    </p>
    <ul class="menu-list">
        <li><a href="/dashboard/posts">Posts</a></li>
        <li><a href="/dashboard/posts/new">New Post</a></li>
        <li><a>Categories</a></li>
    </ul>
    <p class="menu-label">
        Widgets
    </p>
    <ul class="menu-list">
        <li><a href="/dashboard/widgets">List</a></li>
        <li><a href="/dashboard/widgets/new">New Widget</a></li>
    </ul>
        <p class="menu-label">
        Pages
    </p>
    <ul class="menu-list">
        <li><a href="/dashboard/pages">List</a></li>
        <li><a href="/dashboard/pages/new">New Page</a></li>
    </ul>
</aside>