<!doctype html>
<html>
    {{> html/head}}

    <body>
        {{> blog/blog-title}}

        {{> elements/menu}}

        {{> blog/blog-posts}}

        {{> elements/footer}}
        
    </body>
</html>