<!doctype html>
<html>
    {{> html/head}}

    <body>
        {{> blog/blog-title}}

        {{> elements/menu}}

        {{{renderTemplate pageHtml root='true'}}}

        {{> elements/footer}}
        
    </body>
</html>