<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {{#if head.mdEditor}}
    <link rel="stylesheet" href="https://unpkg.com/freemde/dist/freemde.min.css">
    <script src="https://unpkg.com/freemde/dist/freemde.min.js"></script>
    {{/if}}
    {{#if head.cdEditor}}
    <script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>
    {{/if}}
</head>